  .page-header h1 {
    font-weight: 300;
    color: #1e1e1e;
  }

  .card {
    margin-bottom: 10px;
    text-align: left;
  }

  .card:last-child {
    margin-bottom: 25px;
  }

  .card-block {
    padding: 15px;
  }