 .card-body>* {
    min-height: 10px;
 }

 .card-footer {
    color: #1f1f1f !important
 }

 .card-sTier {
    background-color: #ff7676;
 }

 .card-aTier {
    background-color: #ffe38d;
 }

 .card-bTier {
    background-color: #c3ff89;
 }

 .card-cTier {
    background-color: #76f8f8;
 }

 .card-dTier {
    background-color: #9898ff;
 }

 .card-done {
    background-color: #ffbafe;
 }

 .card-backlog {
    background-color: #8fc7ff;
 }

 .card-trashed {
    background-color: #749e9e;
 }